<p id="notice"><%= notice %></p>

<h1>Listado de Libros</h1>

<table  class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Anyo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.titulo %></td>
        <td><%= libro.autor %></td>
        <td><%= libro.anyo %></td>
        <td><%= link_to 'Show', libro, :class=>"btn btn-outline-success"  %></td>
        <td><%= link_to 'Edit', edit_libro_path(libro), :class=>"btn btn-outline-info" %></td>
        <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path, :class => "btn btn-outline-primary" %>
